<div class="card cards container mt-5 pt-5">
  <div class="head text-center mb-5"><h1>About Us</h1></div>
  <div class="body">
    <h2>Hi, I'm Ahmed Soliman A Frontend Developer <span>,,</span></h2>
    <br />
    <h2>
      In This Page I Will Provide Details For This Project <span>...</span>
    </h2>
    <h1 class="text-center mt-5 mb-5">E-commerce</h1>
    <div class="info">
      <p>
        <span>--</span> You Can Register An Account With Username, Password,
        Email And Provide Some Information All These Information Will Be
        Displayed In Profile Page <span>...</span> By Using Local Storage To
        Display That Information And To Implements The Enviroment Of The Backend
        Server <span>...</span>
      </p>
      <p>
        <span>--</span> In Home Page You Will Find A Photo Slider That Shows The
        Newest Products Also Sections Of The Catgeories Provided By
        "Fakestore-Api"
        <span>
          Note:- Api Might Need Vpn To Work If You Dont See Any
          Products...</span
        >
      </p>
      <p>
        -- After Registering A New Account There Will be a Standard Theme Which
        You Can Change In The Settings Page Which You Will Find More Options As
        :-
      </p>
      <ul class="my-list">
        <li><span>1-</span> Delete You Account</li>
        <li><span>2-</span> Choose Your Theme Color.</li>
        <li><span>3-</span> Show The History Of Your Purshase.</li>
      </ul>
      <p>
        <span>--</span> The Products Is Divided To 4 Categories You Can Choose
        Products You Like And Add Them Into Your Cart And Make The Order You
        Will Find The Order's Details In History Section In Settings Page There
        is Also a All Catgeories Component
        <span>...</span>
      </p>
      <p>
        <span>--</span> In Contact Us Page You Can Send Me An Email Your Name
        And Email Will Be Set Automatically From Your Profile And You Will Get A
        Notification With The Succession Or The Faliur Of The Message That Has
        Been Sent To Me
        <span>...</span>
      </p>
      <div class="tech">
        <div class="head">
          <h1 class="text-capitalize text-center mt-5 mb-5">
            Technologies Used In This Project
          </h1>
        </div>
        <div class="row gap-5 text-center d-flex flex-row">
          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="../../../assets/about/icons8-html-5-480.svg"
                  alt=""
                />
              </div>
              <div class="title mt-5 mb-5 fs-4 fw-bold">HTML</div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="../../../assets/about/sass.svg"
                  alt=""
                />
              </div>
              <div class="title mt-5 mb-5 fs-4 fw-bold">Sass</div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="../../../assets/about/bootstrap.svg"
                  alt=""
                />
              </div>
              <div class="title mt-5 mb-5 fs-4 fw-bold">Bootstrap</div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="../../../assets/about/primeng-logo.webp"
                  alt=""
                />
              </div>
              <div class="title mt-5 mb-5 fs-4 fw-bold">Prime Ng</div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-sm-12">
            <div class="box">
              <div class="image">
                <img
                  class="img-fluid"
                  src="../../../assets/about/angular.svg"
                  alt=""
                />
              </div>
              <div class="title mt-5 mb-5 fs-4 fw-bold">Angular</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
