<div class="footer pb-5 pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="first col-md-6 col-lg-3 mb-3">
        <img src="assets/footer/footer.jpg" alt="Image" class="img-fluid" />

        <p class="danger pt-2 pb-5 fs-6 text-capitalize">
          Hi Im Ahmed A Frontend Developer Avalible For Work
          Onsite//Remote/Hybrid Feel Free To Contact Me...
        </p>
        <div class="copywrite info text-capitalize fs-6">
          "Created With"
          <span class="love">♥</span>
          "Ahmed"
          <div>
            "© 2022 - "
            <span class="danger">e-commerce</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <h5 class="danger pt-2 pb-5 fs-6 text-capitalize">Links</h5>
        <ul class="list-unstyled list">
          <li routerLinkActive="active" routerLink="home">Home</li>
          <li routerLinkActive="active" routerLink="settings">Settings</li>
          <li routerLinkActive="active" routerLink="profile">Profile</li>
          <li routerLinkActive="active" routerLink="electronics">
            Electronics
          </li>
          <li routerLinkActive="active" routerLink="jeweleries">Jeweleries</li>
          <li routerLinkActive="active" routerLink="men">Men's Clothing</li>
          <li routerLinkActive="active" routerLink="women">Women's Clothing</li>
          <li routerLinkActive="active" routerLink="about">About Us</li>
          <li routerLinkActive="active" routerLink="contact">Contact Us</li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <h5 class="danger pt-2 pb-5 fs-6 text-capitalize">Join Us</h5>
        <ul class="list-unstyled list">
          <li routerLinkActive="active" routerLink="login">Login</li>
          <li routerLinkActive="active" routerLink="/register">Register</li>
          <li routerLinkActive="active" routerLink="/complete-register/:id">
            Complete Register
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <h5 class="danger pt-2 pb-5 fs-6 text-capitalize">Free-Lancing</h5>
        <p class="info lh-lg mt-3 mb-5">
          Get in touch with us via mail phone.We are waiting for your call or
          message
        </p>
        <a class="mail" href="mailto:ahmed.soliamn.as13@gmail.com"
          >ahmed.forntend&#64;Gmail.Com</a
        >
        <div class="myicons mt-3 pb-3">
          <ul
            class="list-unstyled pt-2 d-flex justify-content-center align-items-center"
          >
            <li>
              <a href="https://www.facebook.com/damonisblack/">
                <i class="pi pi-facebook facebook p-2 me-1"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/Soly_001">
                <i class="pi pi-twitter twitter p-2 me-1"></i
              ></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/ahmed-soliman-71aa35282/">
                <i class="pi pi-linkedin linked p-2 me-1"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.youtube.com/channel/UCBsfjMsA5AmryKNN3kPGnQg"
              >
                <i class="pi pi-youtube youtube p-2 me-1"></i
              ></a>
            </li>
            <li>
              <a href="https://wa.me/01148425342">
                <i class="pi pi-whatsapp whatsapp p-2 me-1"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
