<div class="cards container mt-5 pt-5">
  <h1 class="text-capitalize text-center p-2 mb-5">Women's Clothes</h1>
  <div class="d-grid container">
    @for (woman of women; track $index) {
    <div class="cont">
      <p-card class="card">
        <ng-template pTemplate="header">
          <div
            routerLink="/details/{{ woman.id }}"
            class="d-flex header justify-content-center align-items-center"
          >
            <img alt="Card" src="{{ woman.image }}" />
          </div>
        </ng-template>
        <div class="info text-center">
          <h5 class="text-center">{{ woman.title }}</h5>
          <p class="pb-4 text-center">{{ woman.description }}</p>
        </div>
        <ng-template pTemplate="footer">
          <div
            [formGroup]="cart"
            class="d-flex footer justify-content-between align-items-center"
          >
            <p-inputNumber
              [min]="1"
              formControlName="quantity"
              [showButtons]="true"
              buttonLayout="vertical"
              spinnerMode="vertical"
              inputId="vertical"
              decrementButtonClass="p-button-secondary"
              incrementButtonClass="p-button-secondary"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
            ></p-inputNumber>
            <p-button
              (click)="addToCart(woman)"
              label="Add To Cart"
              severity="secondary"
            ></p-button>
            <span class="price">{{ woman.price }} $</span>
          </div>
        </ng-template>
      </p-card>
    </div>

    }
  </div>
</div>
